/* Delius Font */
@font-face {
    font-family: 'Delius';
    font-style: normal;
    font-weight: 400;
    src: url('../webfonts/delius-v8-latin-regular.eot'); 
    src: local('Delius-Regular'),
         url('../webfonts/delius-v8-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('../webfonts/delius-v8-latin-regular.woff2') format('woff2'), 
         url('../webfonts/delius-v8-latin-regular.woff') format('woff'),
         url('../webfonts/delius-v8-latin-regular.ttf') format('truetype'), 
         url('../webfonts/delius-v8-latin-regular.svg#Delius') format('svg'); 
}

@font-face {
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: normal;
    src: local('Gabriola'), url('../webfonts/gabriola.woff') format('woff');
}

.delius {
    font-family: Delius;
}

.gabriola {
    font-family: Gabriola;
}

.menu-title, .menu-price {
    margin: 0px;
    padding: 0px;
    font-size: 21px;
    color: #333534;
}

#mt {
    width: 140px;
    padding-left: 10px;
}

#mp {
    padding-right: 10px;
}


.cd-mw {
    max-width: 220px;
    flex: 1 0;
    margin: 5px;
}