/* Delius Font */
@font-face {
    font-family: 'Delius';
    font-style: normal;
    font-weight: 400;
    src: url('../webfonts/delius-v8-latin-regular.eot'); 
    src: local('Delius-Regular'),
         url('../webfonts/delius-v8-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('../webfonts/delius-v8-latin-regular.woff2') format('woff2'), 
         url('../webfonts/delius-v8-latin-regular.woff') format('woff'),
         url('../webfonts/delius-v8-latin-regular.ttf') format('truetype'), 
         url('../webfonts/delius-v8-latin-regular.svg#Delius') format('svg'); 
}

@font-face {
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: normal;
    src: local('Gabriola'), url('../webfonts/gabriola.woff') format('woff');
}

/* Roboto Regular & Light Font - Needed For The MD Modal */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../webfonts/Roboto-Regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('../webfonts/Roboto-Light.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    margin-top: 75px;
}

.delius {
    font-family: Delius;
}

.gabriola {
    font-family: Gabriola;
}

.roboto {
    font-family: Roboto;
}

.menu-title, .menu-price {
    margin: 0px;
    padding: 0px;
    font-size: 23px;
    letter-spacing: -0.5px;
    color: #333534;
}

.img-logo {
    width: 50px;
    height: 50px;
}

#mt {
    width: 145px;
    padding-left: 10px;
}

#mp {
    padding-right: 10px;
}

.fs-15 {
    font-size: 15px;
}
.fs-24 {
    font-size: 24px;
}

.cd-mw {
    max-width: 220px;
    min-width: 220px;
    flex: 1 0 22%;
    margin: 5px;
}

#rm-mp {
    padding: 0px;
    margin: 0px;
}

.rp-title {
    font-size: 36px;
    letter-spacing: -0.5px;
}

.p-ti {
    font-size: 17px;
    text-indent: 40px;
}

#quantity {
    font-size: 17px;
    font-family: Delius;
    width: 60px;
    text-align: center;
}

.subcategory {
    border-bottom: 4px solid #a1887f;
}

/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 8px;
    background: #dfdfdf;
    position: fixed; margin-top: -25px;
    z-index: 5;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #ebad7a;
    width: 0%;
  }

